/* bs-custom：客製化的 Bootstrap */

@use "./variables";
@use "./variables-utilities";

// @use "bootstrap" with (
@use "../../../../node_modules/bootstrap/scss/bootstrap.scss" with (  // TODO for Sass compiler
  $grid-breakpoints: variables.$grid-breakpoints,
  $container-max-widths: variables.$container-max-widths,
  // $border-radius: variables.$border-radius,
  // $border-radius-sm: variables.$border-radius-sm,
  // $border-radius-lg: variables.$border-radius-lg,
  $font-family-sans-serif: variables.$font-family-sans-serif,
  $primary: variables.$primary,
  $secondary: variables.$secondary,
  $theme-colors: variables.$theme-colors,
  $body-color: variables.$body-color,
  $body-bg: variables.$body-bg,
  $font-sizes: variables.$font-sizes,
  $spacer: variables.$spacer,
  $spacers: variables.$spacers,
  $utilities: variables-utilities.$utilities,
);
