/* rwd：RWD 效果 */

// @use "bootstrap/scss/mixins/breakpoints";
@use "../../../../node_modules/bootstrap/scss/mixins/breakpoints.scss"; // TODO for Sass compiler
@use "../base/variables";

// 平板以上
@mixin pad-up {
  @include breakpoints.media-breakpoint-up(variables.$pad, variables.$grid-breakpoints) {
    @content;
  }
}

// 桌機以上
@mixin desktop-up {
  @include breakpoints.media-breakpoint-up(variables.$desktop, variables.$grid-breakpoints) {
    @content;
  }
}

// 平板以下
@mixin pad-down {
  // 設定 max 斷點
  $max: map-get(variables.$grid-breakpoints, variables.$pad);
  @if ($max != null) {
    $max: $max - 1px;
  }

  @media (max-width: $max) {
    @content;
  }
}

// 桌機以下
@mixin desktop-down {
  // 設定 max 斷點
  $max: map-get(variables.$grid-breakpoints, variables.$desktop);
  @if ($max) {
    $max: $max - 1px;
  }

  @media (max-width: $max) {
    @content;
  }
}
