/* shape：形狀相關 */

// 圓
@mixin circle($size, $color: null) {
  width: $size;
  height: $size;
  border-radius: 50%;
  @if ($color) {
    background-color: $color;
  }
}

// 斜線
@mixin slash($width: 0, $height: 0, $deg: 0, $color: black) {
  width: $width;
  height: $height;
  transform: rotate(#{$deg}deg);
  background-color: $color;
}
