/* button：按鈕相關元件 */

@use "../mixins/rwd";
@use "../mixins/font";

// 覆寫 Bootstrap 按鈕預設樣式
.btn {
  @include font.noto-sans-tc;
  font-weight: bold;
  border-width: 0;
  border-radius: 0;
  padding: 0;
}

// 主要按鈕
.btn-primary,
.btn-outline-primary {
  border: 1px solid var(--bs-primary);

  @include rwd.pad-up {
    border-width: 2px;
  }

  &:hover {
    color: var(--bs-secondary);
  }

  &:disabled {
    color: #ebeae3;
    background-color: #9a9a9a;
    opacity: 1;
  }
}
