/* form：表單及表單控件元素 */

@use "../mixins/font";

// 覆蓋 Bootstrap 設定
.form-label {
  @include font.noto-sans-tc;
  color: black;
}

// 覆蓋 Bootstrap 設定
.form-control,
.form-select {
  font-size: 20px;
  line-height: 1.45;
  border: 2px solid var(--bs-primary);
  border-radius: 0;
  padding: 8px 16px;
}

// 覆蓋 Bootstrap 設定
.form-check-input {
  border-color: var(--bs-primary);
}

// 表單檢核錯誤訊息
.invalid-feedback {
  font-size: 16px;
  @include font.noto-sans-tc;
}

.required::before {
  content: "*";
  color: red;
  font-weight: bold;
  margin-right: 4px;
}
