/* tag：標籤相關元件 */

@use "../mixins/rwd";
@use "../mixins/font";
@use "../mixins/style";

@mixin tag {
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include font.noto-serif-tc;
  color: var(--bs-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;

  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 4px;

  background-color: transparent;
  padding: 0 15px 0 12px;

  @include rwd.pad-up {
    height: 31px;
    font-size: 16px;
    padding: 0 23px 0 20px;
  }
}

@mixin tag-hover {
  // 滑鼠懸停時的樣式
  @include style.only-pointer-hover {
    border-left-color: var(--bs-secondary);
    background-color: black;
    color: white;
  }
}

// 純裝飾標籤
.tag {
  @include tag;
}

// 可點擊的標籤按鈕
.tag-btn {
  @include tag;
  @include tag-hover;
}

// 被選取的標籤按鈕
.tag-btn-selected {
  @include tag;
  border-color: var(--bs-primary);
  background-color: var(--bs-primary);
  color: white;

  // 滑鼠懸停時的樣式
  @include style.only-pointer-hover {
    color: var(--bs-secondary);
  }
}
